@media(max-width:1645px){
    .sec-06-left-box{
        max-width: 600px;
        width: 100%;
        margin-left: 50px;
    }
    .sec-06-div {
        max-width: 400px;
        width: 100%;
        left: -25%;
        margin-left: 30px;
    }
}
@media(max-width:1620px){
    .sec-06-left-box{
        max-width: 570px;
        width: 100%;
        margin-left: 50px;
    }
    .sec-06-div {
        max-width: 350px;
        width: 100%;
        left: -25%;
        z-index: -15;
         
    }
}
@media(max-width:1600px){
    .sec-06-left-box{
        max-width: 550px;
        width: 100%;
        margin-left: 50px;
        
    }
    .sec-06-div {
        max-width: 270px;
        width: 100%;
        left: -20%;
        z-index: -10;    
    }
}
@media(max-width:1530px){
    .sec-06-left-box{
        max-width: 520px;
        width: 100%;
        margin-left: 50px;
        
    }
    .sec-06-div {
        max-width: 230px;
        width: 100%;
        left: -20%;
        z-index: -10;   
        height: 300px; 
    }
    
}
@media(max-width:1520px){
    .sec-06-left-box{
        max-width: 500px;
        width: 100%;
        margin-left: 80px;
        
    }
}
@media (max-width:1500px){
    .container{
        padding-left: 30px;
        padding-right: 30px;
    }
    .sec-06-right-box{
        margin-left: 40px;
    }
    .sec-06-left-box {
        max-width: 500px;
        margin-left: 40px;
        top: 40px;
        left: 50px;
       
    }
    .sec-06-div {
       max-width: 350px;
       width: 100%;
       top: 60%;
       left: -30%;
    }
    

}
@media(max-width:1475px){
    .sec-06-div {
        left:-25%;
    }
}
@media (max-width: 1420px){
    .food-firs-box{
        max-width: 430px;
        width: 100%;
    }
}
@media(max-width:1400px){
   .sec-07-box-01 {
       max-width: 310px;
       width: 100%;
   }
   .sec-06-right-box{
      max-width: 690px;
      width: 100%;
   }
   .right-box-p{
       font-size: 36px;
       top: 44%;
       left: -21%;
   }
   .therd-box {
       padding: 0 20px;
   }
   .navbar-list,
   .social-icon {
       height: 90px;
   }
   .nav-li:first-child{
       margin-left: 25px;
   }
   .logo-img{
       max-width: 200px;
       width: 100%;
   }
   .text-block-title{
       font-size: 80px;
       margin-bottom: 40px;
   }
   .btn{
       font-size: 27px;
   }
}
@media(max-width:1390px){
    .food-firs-box{
        max-width: 420px;
        width: 100%;
        margin-right: 30px;
    }
}
@media (max-width:1360px){
    .sec-06-right-box{
        max-width: 670px;
        width: 100%;
        
    }
    
}
@media(max-width:1345px){
    .sec-06-right-box{
        max-width: 650px;
        width: 100%;
    }
    .sec-06-div {
        max-width: 330px;
        width: 100%;
    }
    .sec-06-left-box {
        max-width: 480px;
        width: 100%;
    }
    .sec-07-box-01{
        max-width: 305px;
        width: 100%;
        margin-right: 30px;
    }
    .foot-box-02{
        margin: 0 30px;
    }
    .footre-p{
        font-size: 1rem;
    }
    .credit-card{
        margin-top: 20px;
    }
    .for-inst{
        margin-left: 30px;
    }
     
}
@media (max-width:1305px){
    .sec-06-right-box{
        max-width: 610px;
        width: 100%;
    }
}
@media(max-width:1270px){
    .sec-06-left-box {
        max-width: 470px;
        width: 100%;
    }
    .sec-06-right-box{
        max-width: 590px;
        width: 100%;
    }
    .sec-06-image{
        max-width: 90px;
        width: 100%;
    }
    .sec-06-right-p{
        font-size: 18px;
    }
    .sec-06-div{
        top: 45%;
       
    }
    .footre-p{
        font-size: 0.9rem;
    }
    .sec-06-right-p{
        margin: 47px 0;
    }
    .sec-06-div {
        top: 60%;
        left: -27%;
    }
}
@media(max-width:1235px){
    .sec-06-right-box{
        max-width: 570px;
        width: 100%;
    }
    .sec-06-image{
        max-width: 75px;
        width: 100%;
    }
   .right-box-p{
       max-width: 400px;
       width: 100%;
       font-size: 33px;
       line-height: 2rem;
   }
   .right-title-p{
       max-width: 420px;
       width: 100%;
   }
   .sec-07-p{
       font-size: 17px;
   }
   .footer-title{
       font-size: 120%;
   }
   .sec-07-h3{
       font-size: 120%;
   }
}
@media (max-width:1215px){
    .sec-06-right-box{
        padding-left: 30px;
    }
}
@media (max-width: 1190px){
    .navbar{
        display: none;
    }
    .fa-bars{
        display: block;
        font-size: 40px;
        color: #fff;
        margin: 0 40px;
        cursor: pointer;
    }
    .text-block-title{
        font-size: 70px;
    }
    .footre-p{
      font-size: 0.8rem;
    }
    .right-box-p{
        max-width: 380px;
        width: 100%;
        font-size: 30px;
    }
    .right-title-p{
        max-width: 400px;
        width: 100%;
        font-size: 15px;
    }
    .fa-cc-visa,
    .fa-cc-discover{
        margin: 0 10px;
    }
    .fa-google-pay{
        margin-right: 10px;
    }
    .inst-img-01{
        max-width: 90px;
        width: 100%;
    }
    .sec-06-right-p{
        margin: 44px 0;
    }
}
@media(max-width:1125px){
    .food-firs-box{
        max-width: 400px;
        width: 100%;
        
    }
    .food-bg-image,
    .food-bg-image-1,
    .food-bg-image-2,
    .food-bg-image-3,
    .food-bg-image-4,
    .food-bg-image-5{
        height: 290px;
    }
    .sec-07-box-01{
        max-width: 290px;
        width: 100%;
    }
    .sec-07-img{
        max-width:60px;
        width: 100%;
    }
    .sec-07-h3{
        max-width: 150px;
        width: 100%;
        font-size: 19px;
    }
    .sec-07-p{
        max-width: 160px;
        width: 100%;
        font-size: 14px;
    }
    .food-first-h3{
        font-size: 19px;
    }
    .food-btn-first{
        max-width: 130px;
        width: 100%;
    }
    .foot-h3{
        font-size: 17px;
    }
    .inst-01{
        font-size: 17px;
    }
    .useful-li,
    .foot-ul{
        font-size: 14px;
    }
    .useful-none{
        max-width: 180px;
        width: 100%;
    }
    .foo-img-01{
        max-width: 130px;
        width: 100%;
    }
    .footer-01{
        max-width: 480px;
        width: 100%;
    }
    .inst-img-01{
        max-width: 90px;
        width: 100%;
    }
    .inst-img-01{
        margin-right: 16px;
    }
    .sec-06-right-p{
        margin: 37px 0;
    }
}
@media(max-width:1080px){
    .social-icon,
    .navbar-list{
        height: 70px;
    }
   .logo-img{
       max-width: 180px;
       width: 100%;
   }
   .text-block-title{
       font-size: 60px;
   }
   .text-block-p{
       max-width: 340px;
       width: 100%;
       font-size: 27px;
       line-height: initial;
   }
   .text-box {
       max-width: 650px;
       width: 100%;
   }
   .btn,
   .arrow{
       font-size: 20px;
   }
   .sec-01-h3{
       font-size: 45px;
   }
   .sec-01-p{
       font-size: 18px;
   }
   .first-box,
   .second-box,
   .therd-box,
   .for-box,
   .five-box {
       max-width: 230px;
       width: 100%;
   }
   .fa-hamburger,
   .fa-pizza-slice,
   .fa-ice-cream,
   .fa-hotdog,
   .fa-hotdog,
   .fa-bacon{
       font-size: 80px;
   }
   .therd-box,
   .five-box {
      padding: 0 30px;
   }
   .for-box {
       padding-left: 20px;
   }
   .right-box-p{
       max-width: 330px;
       width: 100%;
       font-size: 27px;
       top: 40%;
   }
   .right-title{
       max-width: 420px;
       width: 100%;
   }
   .right-title-p{
       font-size: 14px;
       line-height: 16px;
   }
   .left-bloc-walpper,
   .sec-02-img{
       max-width: 600px;
       width: 100%;
   }
   .sec-03-h3{
       font-size: 35px;
   }
   .sec-03-p{
       font-size: 1rem;
   }
   .food-firs-box{
       max-width: 360px;
       width: 100%;
   }
   .food-bg-image,
   .food-bg-image-1,
   .food-bg-image-2,
   .food-bg-image-3,
   .food-bg-image-4,
   .food-bg-image-5{
       height: 270px;
   }
   .food-first-h3{
       font-size: 14px;
   }
   .food-btn-first{
       max-width: 110px;
       width: 100%;
       font-size: 12px;
       
   }
   .fa-shopping-cart{
       font-size: 12px;
   }
   .price{
       font-size: 16px;
   }
   .for-inst{
       max-width: 320px;
       width: 100%;
   }
   .inst-img-01{
       margin-right: 17px;
   }
   .footer-01{
       max-width: 450px;
       width: 100%;
   }
   .fa-cc-amex,
   .fa-cc-visa,
   .fa-cc-mastercard,
   .fa-cc-discover,
   .fa-google-pay,
   .fa-apple-pay{
       font-size: 35px;
   }
   .footre-p{
       font-size: 0.7rem;
   }
   .sec-06-h3{
       font-size: 40px;
   }
   .sec-06-right-p{
       margin: 34px 0;
   }
}
@media (max-width:1060px){
    .food-firs-box{
        max-width: 340px;
        width: 100%;
    }
    .food-bg-image,
    .food-bg-image-1,
    .food-bg-image-2,
    .food-bg-image-3,
    .food-bg-image-4,
    .food-bg-image-5{
        height: 250px;
    }
    .sec-07-box-01{
        max-width: 260px;
        width: 100%;
    }
    .sec-07-h3{
        font-size: 19px;
    }
    .sec-07-p{
        max-width: 140px;
        width: 100%;
        font-size: 12px;
    }
    .sec-07-img{
        max-width: 50px;
        width: 100%;
    }
    .inst-img-01{
        max-width: 80px;
        width: 100%;
        margin-right: 17px;
    }
    .sec-06-right-p{
        margin: 30px 0 ;
        font-size: 16px;
    }
    .sec-06-div {
        max-width: 300px;
        width: 100%;
        left: -27%;
    }
}
@media(max-width:1030px){
    .for-inst,
    .inst-img {
        max-width: 300px;
        width: 100%;
    }
    .inst-img-01{
        max-width: 75px;
        width: 100%;
        margin-right: 18px;
    }
    .useful-none{
        max-width: 160px;
        width: 100%;
    }
    .useful-li,
    .foot-li{
        font-size: 12px;
    }
    .foo-img-01{
        max-width: 120px;
        width: 100%;
    }
    .foot-box-02{
        margin: 0 20px;
    }
    .sec-08-tel{
        font-size: 35px;
    }
    .fa-clock,
    .fa-map-marker-alt{
        font-size: 55px;
    }
    .sec-08-p{
        font-size: 15px;
    }
    .sec-08-p-01{
        font-size: 16px;
        margin-left: 11px;
    }
    .social-icons {
        max-width: 170px;
        width: 100%;
        margin-left: 10px;
    }
    .fa-facebook-square,
    .fa-twitter,
    .fa-instagram{
        font-size: 40px;
    }
    .sec-06-right-p{
        margin: 25px 0;
        font-size: 14px;
    }
    .sec-06-div {
        max-width: 280px;
        width: 100%;
    }

}
@media(max-width:990px){
    .text-block-title{
        font-size: 55px;
    }
    .arrow{
        margin-left: 10px;
    }
    .text-box{
        max-width: 550px;
        width: 100%;
    }
    .text-block-p {
        max-width: 300px;
        width: 100%;
        top: 60%;
        left: -15%;
        font-size: 25px;
        line-height: 30px;
    }
    .sec-01-h3{
        font-size: 40px;
    }
    .sec-01-p{
        font-size: 16px;
    }
    .six-box {
        margin: 0px;
    }
    .second-box {
       margin: 0 30px;
    }
    .therd-img{
        padding: 0px 30px;
    }
    .right-block {
        max-width: 600px;
        width: 100%;
    }
    .right-box-p{
        max-width: 300px;
        width: 100%;
        font-size: 25px;
    }
    .left-bloc-walpper{
        max-width: 550px;
        width: 100%;
    }
    .right-title-p{
        max-width: 350px;
        width: 100%;
        font-size: 13px;
    }
    .sec-03-h3{
        font-size: 30px;
    }
    .sec-03-p{
        font-size: 0.9rem;
    }
    .food-firs-box{
        max-width: 320px;
        width: 100%;
        margin-right: 15px;
    }
    .food-bg-image,
    .food-bg-image-1,
    .food-bg-image-2,
    .food-bg-image-3,
    .food-bg-image-4,
    .food-bg-image-5{
        height: 220px;
    }
    .food-first-p{
        font-size: 14px;
    }
    .food-btn-first{
        max-width: 100px;
        width: 100%;
        font-size: 10px;
    }
    .fa-shopping-cart{
        font-size: 10px;
    }
    .price{
        font-size: 14px;
    }
    .sec-04-btn{
        padding: 20px 50px;
    }
    .sec-06-h3{
        font-size: 35px;
    }
    .sec-06-img{
        max-width: 400px;
        width: 100%;
    }
    .sec-06-p{
        font-size: 17px;
    }
    .inst-img-01{
        max-width: 67px;
        width: 100%;
    }
    .footer-title{
        font-size: 110%;
    }
    .sec-06-div {
        max-width: 250px;
        top: 55%;
        left: -31%;
        
    }
}
@media(max-width:960px){
    .logo-img{
        max-width: 150px;
        width: 100%;
    }
    .text-block-title{
        font-size: 45px;
    }
    .text-box {
        max-width: 460px;
    }
    .text-block-p{
        max-width: 270px;
        width: 100%;
        font-size: 23px;
        line-height: 25px;
    }
    .btn{
        max-width: 230px;
        width: 100%;
        padding: 15px;
        font-size: 18px;
    }
    .arrow{
        font-size: 17px;
        margin-left: 7px;
    }
    .sec-01-h3{
        font-size: 36px;
    }
    .sec-01-img{
        max-width: 330px;
        width: 100%;
    }
    .sec-01-p{
        font-size: 15px;
    }
    .block-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    .six-box,
    .five-box,
    .for-box {
        margin-top: 50px;
    }
    .right-block {
        max-width: 550px;
        width: 100%;
    }
    .sec-02-img{
        width: 100%;
    }
    .right-box-p{
        max-width: 250px;
        width: 100%;
        font-size: 20px;
        left: -15%;
        line-height: inherit;
        
    }
    .right-title-p{
        max-width: 320px;
        width: 100%;
        font-size: 12px;
    }
    .left-bloc-walpper{
        max-width: 500px;
        width: 100%;
    }
    .sec-03-img{
        max-width: 320px;
        width: 100%;
    }
    .food-box-wrapper {
        flex-wrap: wrap;
        align-items: center ;
        justify-content: space-around;
    }
    .food-firs-box{
        margin-bottom: 50px;
         max-width: 350px;
         width: 100%;
         margin-right: 0px;
         
    }
    .food-bg-image-1,
    .food-bg-image,
    .food-bg-image-2,
    .food-bg-image-3,
    .food-bg-image-4,
    .food-bg-image-5{
        height: 302px;
    }
    .food-firs-p,
    .food-first-h3,
    .price{
        font-size: 20px;
    }
    .fa-star{
        font-size: 25px;
    }
    .food-first-p,
    .fa-shopping-cart{
        font-size: 15px;
    }
    .food-btn-first{
        max-width: 150px;
        width: 100%;
        font-size: 17px;
    }
   .sec-06-h3{
       font-size: 30px;
   }
   .sec-06-img{
       max-width: 350px;
       width: 100%;
   }
   .sec-06-p{
       font-size: 15px;
   }
   .sec-06-left-box{
       max-width: 430px;
       width: 100%;
   }
   .sec-06-div{
       max-width: 230px;
       width: 100%;
       height: 250px;
       
   }
   .sec-06-image{
       max-width: 60px;
       width: 100%;
   }
   .sec-06-right-p{
       font-size: 13px;
       margin: 30px 0;
   }
   .spna-01-h3{
       font-size: 20px;
   }
   .span-01-p{
       font-size: 14px;
   }
   .sec-05-h3{
       font-size: 37px;
   }
   .sec-05-p,
   .sec-05-p-01{
       font-size: 20px;
   }
   .childe-box-wrapper {
       max-width: 370px;
       width: 100%;
   }
   .first-boxes {
       width: 70px;
       height: 70px;
   }
   .days{
       font-size: 35px;
   }
   .date{
       font-size: 15px;
       margin-left: 15px;
   }
   .sec-07-wrapper {
       flex-wrap: wrap;
   }
   .sec-07-box-01 {
        max-width: 334px;
        margin: 40px 0;
        
   }
   .sec-07-h3{
       max-width: 165px;
       width: 100%;
       font-size: 1.2rem;
   }
   .sec-07-p{
       max-width: 200px;
       width: 100%;
       font-size: 18px;
   }
   .sec-07-img{
       max-width: 80px;
       width: 100%;
   }
   .footer-block-wrapper {
       flex-wrap: wrap;
   }
   .for-inst{
       margin-top: 40px;
       margin-left: 100px;
       max-width: 255px;
       width: 100%;
   }
   .inst-01,
   .foot-h3{
       font-size: 20px;
   }
   .inst-img-01{
       max-width: 80px;
       width: 100%;
   }
   .foot-box-02{
        max-width: 200px;
        width: 100%;
        margin: 0px 50px;
   }
   .useful-none{
       max-width: 350px;
       width: 100%;
       margin-top: 120px;
   }
   .footer-01{
       max-width: 500px;
       width: 100%;
   }
   .foo-img-01{
       max-width: 180px;
       width: 100%;
   }
   .footre-p{
       font-size: 1rem;
   }
   .foot-li,
   .useful-li{
       font-size: 1rem;
   }
   .useful-li{
       padding-bottom: 15px;
   }
}
@media(max-width:875px){
    .footer-01{
        max-width: 450px;
    }
    .foo-img-01{
        max-width: 150px;
        width: 100%;
    }
    .footre-p{
        font-size: 0.8rem;
    }
    .inst-img-01{
        max-width: 70px;
        width: 100%;
        margin-right: 15px;
    }
    .right-box-p {
        top: 36%;
        left: -17%;
    }
    .right-title-p{
        max-width: 300px;
        width: 100%;
        font-size: 11px;
    }
    .text-block-p{
        max-width: 250px;
        width: 100%;
        font-size: 20px;
    }
    .text-block-title{
        font-size: 42px;
    }
    .sec-06-right-box{
        max-width: 540px;
        width: 100%;
        margin-top: 30px;
    
    }
    .sec-06-image{
        max-width: 50px;
        width: 100%;
    }
    .sec-06-right-p{
        margin: 25px 0;
        font-size: 12px;
    }
    .spna-01-h3{
        font-size: 18px;
    }
}
@media(max-width:830px){
    .first-box,
    .second-box ,
    .therd-box,
    .for-box,
    .five-box ,
    .six-box {
        max-width: 200px;
        width: 100%;
    }
    .right-box-p{
        max-width: 230px;
        width: 100%;
        top: 34%;
        font-size: 18px;
    }
    .left-bloc-walpper{
        max-width: 450px;
        width: 100%;
    }
    .sec-03-h3{
        font-size: 25px;
    }
    .sec-03-img{
        max-width: 300px;
        width: 100%;
    }
    .food-firs-box{
        max-width: 320px;
        width: 100%;
    }
    .food-bg-image,
    .food-bg-image-1,
    .food-bg-image-2,
    .food-bg-image-3,
    .food-bg-image-4,
    .food-bg-image-5{
        height: 280px;
    }
    .food-btn-first{
        max-width: 130px;
        font-size: 13px;
    }
    .price{
        font-size: 18px;
    }
    .footer-01{
        max-width: 400px;
        width: 100%;
    }
    .foo-img-01{
        max-width: 130px;
        width: 100%;
    }
    .credit-card {
        max-width: 300px;
        width: 100%;
    }
    .fa-cc-amex,
    .fa-cc-visa,
    .fa-cc-mastercard,
    .fa-cc-discover,
    .fa-google-pay,
    .fa-apple-pay,{
        font-size: 30px;
    }
    .sec-08-tel{
        font-size: 30px;
    }
    .fa-clock,
    .fa-map-marker-alt{
        font-size: 50px;
    }
    .social-icons{
        max-width: 150px;
        width: 100%;
        margin-top: 25px;
    } 
}
@media(max-width:780px){
    
}