/* base classes  */
.container{
    max-width: 1450px;
    width: 100%;
    margin: 0 auto;
}
.d-flex{
    display: flex;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
/* base classes end  */
/* header classes  */
.bg-header{
    background-image: url('../img/Untitled-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo-a{
    margin-top: 40px;
}
.navbar-header{
    justify-content: space-between;
}
.navbar-list{
    height: 109px;
    align-items: center;
    background-color: rgba(40,25, 35, 0.5);
}
.nav-li{
    margin-right: 55px;
    
}
.nav-li:first-child{
    margin-left: 65px;
}
.nav-li:last-child{
    margin-right: 17px;
    width: 100px;
}
.nav-a{
    font-family: 'Poppins-medium';
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
}
.social-icon{
    max-width: 430px;
    width: 100%;
    height: 109px;
    background-color: #A80E0E;
    border: 1px solid #707070;
    justify-content: center;
    align-items: center;
}
.icons,
.icons-s{
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    margin: 0 24px;
}
.text-block-wrapper{
    margin-top: 158px;
}
.text-block-title{
    color: #fff;
    font-family: 'Poppins-regular';
    font-size: 90px;
}
.text-box{
    max-width: 700px;
    width: 100%;
}
.text-img{
    width: 100%;
}
.text-block-p{
    max-width: 375px;
    width: 100%;
    font-family: 'Poppins-extra-bold';
    font-size: 30px;
    color: #fff;
    top: 60%;
    left: -10%;
    transform: translate(50%,-50%);
}
.btn{
    max-width: 255px;
    width: 100%;
    padding: 17px;
    border-radius: 50px;
    background-color: #FFAA00;
    color: #A80E0E;
    cursor: pointer;
    font-size: 30px;
    font-family: 'Poppins-regular';
    margin-top: 70px;
    margin-left: 30px;
    margin-bottom: 300px;
}
.arrow{
    font-size: 23px;
    color: #A80E0E;
    margin-left: 15px;
}
/* header classes end  */
/* section-01  */
.sec-01-title{
    margin-top: 107px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}
.sec-01-h3{
    font-family: 'Poppins-regular';
    font-size: 50px;
    color: #A80E0E;
    margin-bottom: 12px;
}
.sec-01-img{
    max-width: 380px;
    width: 100%;
}
.sec-01-p{
    font-family: 'Poppins-regular';
    font-size: 20px;
    font-weight: lighter;
    margin-top: 18px;
}
.block-wrapper{
    margin-bottom: 170px;
    justify-content: space-between;
}
.first-box,
.second-box,
.therd-box,
.for-box,
.five-box,
.six-box{
    max-width: 250px;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.fa-hamburger,
.fa-pizza-slice,
.fa-ice-cream,
.fa-hotdog,
.fa-bacon{
    font-size: 90px;
    color: #FFAA00;
    align-self: center;
    margin-top: 40px;
}
.first-p{
    margin: 30px 0;
    font-family: 'Poppins-regular';
    font-size: 20px;
}
.therd-box{
    border-radius: 5%;
    box-shadow: 0px 15px 15px rgba(40,25, 35, 0.4);
}
.therd-img{
    margin-top: 40px;
    
}
.six-box{
    margin-left: 30px;
}
/* section-01 end  */
/* section-02  */
.section-02{
    background-color: #FFAA00;
    margin-bottom: 123px;
}
.left-bloc-walpper,
.sec-02-img,
.right-block,
.sec--right-img{
    max-width: 700px;
    width: 100%;
}
.right-block{
    align-self: center;
}
.right-box-p{
    top: 40%;
    left: -20%;
    transform: translate(50%,-50%);
    max-width: 430px;
    width: 100%;
    font-size: 40px;
    font-family: 'Poppins-regular';
    color: #fff;
}
.right-title,
.right-title-p{
    max-width: 450px;
    width: 100%;
    margin-left: 7%;
    margin-top: 20px;
    color: #fff;
    font-family: 'Poppins-regular';
}
/* section-02 end  */
/* section-03 & section-04 */
.section-03{
    margin-bottom: 56px;
}
.sec-03-wrapper{
    justify-content: center;
    margin-bottom: 120px;
}

.sec-03-title{
    flex-direction: column;
    align-items: center;
}
.sec-03-h3{
    font-family: 'Poppins-regular';
    font-size: 40px;
    color: #A80E0E;
}
.sec-03-img{
    margin: 27px;
}
.sec-03-p{
    font-family: 'Poppins-medium';
    font-size: 20px;
    color: #382E36;
}
.food-box-wrapper{
    justify-content: space-between;
}
.food-firs-box{
    max-width: 444px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.3);
}
.food-bg-image{
    background-image: url('../img/1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-clip: cover;
    height: 302px;
}
.food-paragraph{
    margin-left: 30px;
    margin-top: 35px;
}
.fa-star{
    font-size: 20px;
    color: #FFAA00;
}
.food-firs-p{
    font-family: 'Poppins-regular';
    font-size: 16px;
    font-weight: lighter;
    margin-left: 8px;
}
.food-first-h3{
    font-family: 'Poppins-regular';
    margin-top: 20px;
    font-size: 22px;
}
.food-first-p{
    margin-top: 12px;
    font-family: 'Poppins-regular';
    color: #686868;
    font-size: 16px;
    font-weight: lighter;
}
.food-btn-first{
    max-width: 184px;
    width: 100%;
    height: 40px;
    background-color: #FFAA00;
    margin: 30px 0;
    border-radius: 50px;
    font-family: 'Poppins-regular';
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
.fa-shopping-cart{
    font-size: 16px;
    color: #fff;
}
.price{
    color: #A80E0E;
    font-family: 'Poppins-regular';
    align-self: center;
    margin-left: 12px;
    font-size: 22px;
}
.section-04{
    margin-bottom: 126px;
}
.food-bg-image-1{
    background-image: url('../img/shutterstock_136631573.png');
    height: 302px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.food-bg-image-2{
    background-image: url('../img/background-burgers-home-top.png');
    height: 302px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.food-bg-image-3{
    background-image: url('../img/news_image1-min.png');
    height: 302px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.food-bg-image-4{
    background-image: url('../img/news_image2-min.png');
    height: 302px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.food-bg-image-5{
    background-image: url('../img/news_image3-min.png');
    height: 302px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.btn-box-sec-4{
    justify-content: center;
    margin-top: 106px;
}
.sec-04-btn{
    padding: 20px 60px;
    border-radius: 90px;
    background-color: #A80E0E;
    font-family: 'Poppins-regular';
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}
/* section-03 end & section-04*/
/* section-05  */
.section-05-bg-image{
    background-image: url('../img/2663738.png');
    margin-bottom: 100px;
}
.sec-05-block{
    /* background-color: red; */
    align-items: center;
    padding:257px 0;
    justify-content: space-between;
}
.sec-05-h3{
    font-family: 'Poppins-medium';
    font-size: 50px;
    color: #fff;
}
.sec-05-p,
.sec-05-p-01{
    margin-top: 24px;
    font-family: 'Poppins-regular';
    font-size: 25px;
    font-weight: lighter;
    color: #fff;
}
.childe-box-wrapper{
    max-width: 450px;
    width: 100%;
    margin-top: 30px;
    justify-content: space-between;
}
.first-boxes{
    width: 85px;
    height: 85px;
    background-color: #FFAA00;
}
.first-boxes{
    justify-content: center;
    align-items: center;
}
.days{
    font-family: 'Poppins-regular';
    font-size: 47px;
    color: #fff;
}
.date{
    font-family: 'Poppins-regular';
    font-size: 17px;
    color: #fff;
    margin-top: 5px;
    margin-left: 20px;
    text-transform: capitalize;
}
/* section-05 end  */
