/* base classes  */
.container{
    max-width: 1450px;
    width: 100%;
    margin: 0 auto;
}
.d-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
/* base classes end  */
/* header classes  */
.bg-header{
    background-image: url('../img/Untitled-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo-a{
    margin-top: 40px;
}
.navbar-header{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.navbar-list{
    height: 109px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(40,25, 35, 0.5);
}
.nav-li{
    margin-right: 55px;
    
}
.nav-li:first-child{
    margin-left: 65px;
}
.nav-li:last-child{
    margin-right: 17px;
    width: 100px;
}
.nav-a{
    font-family: 'Poppins-medium';
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
}
.fa-bars{
    display: none;
}
.social-icon{
    max-width: 430px;
    width: 100%;
    height: 109px;
    background-color: #A80E0E;
    border: 1px solid #707070;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.icons,
.icons-s{
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    margin: 0 24px;
}
.text-block-wrapper{
    margin-top: 158px;
}
.text-block-title{
    color: #fff;
    font-family: 'Poppins-regular';
    font-size: 90px;
}
.text-box{
    max-width: 700px;
    width: 100%;
}
.text-img{
    width: 100%;
}
.text-block-p{
    max-width: 375px;
    width: 100%;
    font-family: 'Poppins-extra-bold';
    font-size: 30px;
    color: #fff;
    top: 60%;
    left: -10%;
    -webkit-transform: translate(50%,-50%);
        -ms-transform: translate(50%,-50%);
            transform: translate(50%,-50%);
}
.btn{
    max-width: 255px;
    width: 100%;
    padding: 17px;
    border-radius: 50px;
    background-color: #FFAA00;
    color: #A80E0E;
    cursor: pointer;
    font-size: 30px;
    font-family: 'Poppins-regular';
    margin-top: 70px;
    margin-bottom: 300px;
}
.arrow{
    font-size: 23px;
    color: #A80E0E;
    margin-left: 15px;
}
/* header classes end  */
/* section-01  */
.sec-01-title{
    margin-top: 107px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 70px;
}
.sec-01-h3{
    font-family: 'Poppins-regular';
    font-size: 50px;
    color: #A80E0E;
    margin-bottom: 12px;
}
.sec-01-img{
    max-width: 380px;
    width: 100%;
}
.sec-01-p{
    font-family: 'Poppins-regular';
    font-size: 20px;
    font-weight: lighter;
    margin-top: 18px;
}
.block-wrapper{
    margin-bottom: 170px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.first-box,
.second-box,
.therd-box,
.for-box,
.five-box,
.six-box{
    max-width: 250px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.fa-hamburger,
.fa-pizza-slice,
.fa-ice-cream,
.fa-hotdog,
.fa-bacon{
    font-size: 90px;
    color: #FFAA00;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 40px;
}
.first-p{
    margin: 30px 0;
    font-family: 'Poppins-regular';
    font-size: 20px;
}
.therd-box{
    border-radius: 5%;
    -webkit-box-shadow: 0px 15px 15px rgba(40,25, 35, 0.4);
            box-shadow: 0px 15px 15px rgba(40,25, 35, 0.4);
}
.therd-img{
    margin-top: 40px;
    
}
.six-box{
    margin-left: 30px;
}
/* section-01 end  */
/* section-02  */
.section-02{
    background-color: #FFAA00;
    margin-bottom: 123px;
}
.left-bloc-walpper,
.sec-02-img,
.right-block,
.sec--right-img{
    max-width: 700px;
    width: 100%;
}
.right-block{
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}
.right-box-p{
    top: 40%;
    left: -20%;
    -webkit-transform: translate(50%,-50%);
        -ms-transform: translate(50%,-50%);
            transform: translate(50%,-50%);
    max-width: 430px;
    width: 100%;
    font-size: 40px;
    font-family: 'Poppins-regular';
    color: #fff;
}
.right-title,
.right-title-p{
    max-width: 450px;
    width: 100%;
    margin-left: 7%;
    margin-top: 20px;
    color: #fff;
    font-family: 'Poppins-regular';
}
/* section-02 end  */
/* section-03 & section-04 */
.section-03{
    margin-bottom: 56px;
}
.sec-03-wrapper{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 120px;
}

.sec-03-title{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.sec-03-h3{
    font-family: 'Poppins-regular';
    font-size: 40px;
    color: #A80E0E;
}
.sec-03-img{
    margin: 27px;
}
.sec-03-p{
    font-family: 'Poppins-medium';
    font-size: 20px;
    color: #382E36;
}
.food-box-wrapper{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.food-firs-box{
    max-width: 444px;
    width: 100%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.3);
}
.food-bg-image{
    background-image: url('../img/1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-clip: cover;
    height: 302px;
    width: 100%;
    border-radius: 5px;
}
.food-paragraph{
    margin-left: 30px;
    margin-top: 35px;
}
.fa-star{
    font-size: 20px;
    color: #FFAA00;
     margin-right: 8px;
}
.food-firs-p{
    font-family: 'Poppins-regular';
    font-size: 16px;
    font-weight: lighter;
   
}
.food-first-h3{
    font-family: 'Poppins-regular';
    margin-top: 20px;
    font-size: 22px;
}
.food-first-p{
    margin-top: 12px;
    font-family: 'Poppins-regular';
    color: #686868;
    font-size: 16px;
    font-weight: lighter;
}
.food-btn-first{
    max-width: 184px;
    width: 100%;
    height: 40px;
    background-color: #FFAA00;
    margin: 30px 0;
    border-radius: 50px;
    font-family: 'Poppins-regular';
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
.fa-shopping-cart{
    font-size: 16px;
    color: #fff;
}
.price{
    color: #A80E0E;
    font-family: 'Poppins-regular';
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 12px;
    font-size: 22px;
}
.section-04{
    margin-bottom: 126px;
}
.food-bg-image-1{
    background-image: url('../img/shutterstock_136631573.png');
    height: 302px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-radius: 5px;
}
.food-bg-image-2{
    background-image: url('../img/background-burgers-home-top.png');
    height: 302px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-radius: 5px;
}
.food-bg-image-3{
    background-image: url('../img/news_image1-min.png');
    height: 302px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-radius: 5px;
}
.food-bg-image-4{
    background-image: url('../img/news_image2-min.png');
    height: 302px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-radius: 5px;
}
.food-bg-image-5{
    background-image: url('../img/news_image3-min.png');
    height: 302px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-radius: 5px;
}
.btn-box-sec-4{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 106px;
}
.sec-04-btn{
    padding: 20px 60px;
    border-radius: 90px;
    background-color: #A80E0E;
    font-family: 'Poppins-regular';
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}
/* section-03 end & section-04*/
/* section-05  */
.section-05-bg-image{
    background-image: url('../img/2663738.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}
.sec-05-block{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding:257px 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.sec-05-h3{
    font-family: 'Poppins-medium';
    font-size: 50px;
    color: #fff;
}
.sec-05-p,
.sec-05-p-01{
    margin-top: 24px;
    font-family: 'Poppins-regular';
    font-size: 25px;
    font-weight: lighter;
    color: #fff;
}
.childe-box-wrapper{
    max-width: 450px;
    width: 100%;
    margin-top: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.first-boxes{
    width: 85px;
    height: 85px;
    background-color: #FFAA00;
}
.first-boxes{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.days{
    font-family: 'Poppins-regular';
    font-size: 47px;
    color: #fff;
}
.date{
    font-family: 'Poppins-regular';
    font-size: 17px;
    color: #fff;
    margin-top: 5px;
    margin-left: 20px;
    text-transform: capitalize;
}
/* section-05 end  */
/* section-06  */
.sec-06 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 126px;
}
.sec-06-title{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.sec-06-h3{
    font-family: 'Poppins-regular';
    color: #A80E0E;
    font-size: 47px;
}
.sec-06-img{
    margin: 30px 0;
}
.sec-06-p{
    font-family: 'Poppins-regular';
    font-weight: lighter;
    font-size: 20px;
    color: #382E36;

}
.sec-06-pictre-block{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.sec-06-left-box{
    max-width: 670px;
    width: 100%;
    height: auto;
}
.sec-06-left-img{
    width: 100%;
}
.sec-06-div{
    max-width: 444px;
    width: 100%;
    height: 363px;
    background-color: #A80E0E;
    border-radius: 10px;
    top: 60%;
    left: -25%;
    z-index: -1;
    margin-bottom: 120px;
}
.sec-06-right-box{
    max-width: 710px;
    width: 100%;
    height: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;

}
.sec-06-image{
    max-width: 100px;
    width: 100%;
}
.sec-06-right-p{
    font-family: 'Poppins-regular';
    font-size: 20px;
    color: #382E36;
    font-weight: lighter;
    margin: 56px 0;
    line-height: initial;
}
.spna-01-h3{
    font-family: 'Poppins-regular';
    font-weight: lighter;
    color: #000;
    font-size: 25px;
    margin-bottom: 12px;
}
.span-01-p{
    font-family: 'Poppins-regular';
    font-weight: lighter;
    font-size: 16px;
    color: #686868;
}
.spna-01-h3::after{
    content: '';
    width: 58px;
    height: 2px;
    background-color:#A80E0E;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}
/* section-06 end  */
/* section-07  */
.section-07{
    background-color: #FFAA00;
    margin-top: 400px;
}
.sec-07-wrapper{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.sec-07-box-01{
    max-width: 326px;
    width: 100%;
    margin: 160px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 15px 15px rgba(255, 255, 255, 0.3);
            box-shadow: 0px 15px 15px rgba(255, 255, 255, 0.3);
}
.sec-07-img{
    margin-top: 36px;
}
.sec-07-h3{
    margin-top: 16px;
    font-family: 'Poppins-regular';
    font-size: 20px;
    max-width: 165px;
    width: 100%;
    line-height: initial;
}
.sec-07-h3::after{
    content: '';
    width: 130px;
    height: 3px;
    background-color: #FFAA00;
    display: block;
    margin: 18px 0; 
    
}
.sec-07-p{
    font-family: 'Poppins-regular';
    font-size: 19px;
    max-width: 218px;
    width: 100%;
    color: #707070;
    margin-bottom: 50px;
    line-height: initial;
}
/* section-07 end  */
/* section-08  */
.section-08{
    background-color: #A80E0E;
    margin-bottom: 100px;
}
.sec-08-left{
    max-width: 960px;
    width: 100%;
    padding: 107px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.sec-08-btn{
    width: 118px;
    height: 41px;
    background-color: #FFAA00;
    color: #fff;
    font-size: 16px;
    font-weight: lighter;
    border-radius: 60px;
    font-family: 'Poppins-regular';
    margin-bottom: 14px;
    cursor: pointer;
}
.sec-08-span,
.sec-08-span-01{
    margin-top: 17px;
}
.sec-08-tel{
    font-family: 'Poppins-medium';
    font-size: 40px;
    font-weight: lighter;
    color: #fff;
}


.fa-clock,
.fa-map-marker-alt{
    font-size: 60px;
    color: #FFAA00;
    margin-right: 25px;
}
.sec-08-p{
    max-width: 290px;
    width: 100%;
    line-height: initial;
    font-family: 'Poppins-medium';
    font-size: 18px;
    color: #fff;
}
.sec-08-p-01{
    max-width: 188px;
    width: 100%;
    line-height: initial;
    font-family: 'Poppins-medium';
    color: #fff;
    font-size: 16px;
    margin-left: 28px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}
.social-icons{
    max-width: 200px;
    width: 100%;
    margin-top: 50px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.fa-facebook-square,
.fa-twitter,
.fa-instagram{
    font-size: 50px;
    color: #fff;
}
.sec-08-map{
    max-width: 960px;
    width: 100%;
    background-color: #fff;
}
.right-ifr{
    width: 100%;
    height: 100%;
    visibility: visible;
}
/* section-08 end  */
/* footer-section  */
.footer-section{
    margin-bottom: 100px;
}
.footer-block-wrapper{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.footer-01{
    max-width: 550px;
    width: 100%;
}
.foo-img-01{
    max-width: 150px;
    width: 100%;
    margin-bottom: 30px;
}
.footre-p{
    font-family: 'Poppins-medium';
    font-size: 16px;
    font-weight: lighter;
    line-height: initial;
}
.credit-card{
    max-width: 350px;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 15px;
}
.fa-cc-amex,
.fa-cc-visa,
.fa-cc-mastercard,
.fa-cc-discover,
.fa-google-pay,
.fa-apple-pay{
    font-size: 40px;
    cursor: pointer;
}
.foot-box-02{
    max-width: 130px;
    width: 100%;
}
.foot-h3{
    font-family: 'Poppins-regular';
    font-size: 20px;
    color: #A80E0E;
}
.foot-h3::after{
    content: '';
    width: 50px;
    height: 3px;
    background-color: #FFAA00;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    margin-top: 18px;
}
.foot-ul{
    max-width: 100px;
    width: 100%;
    font-family: 'Poppins-regular';
    font-size: 16px;
    padding-top: 46px;
    color: #686868;
}
.foot-li{
    margin-top: 15px;
}
.useful-none{
    max-width: 200px;
    width: 100%;
    margin-top: 89px;

}
.useful-li{
    padding-top: 15px;
    font-family: 'Poppins-regular';
    font-size: 16px;
    color: #707070;
}
.for-inst{
    max-width: 370px;
    width: 100%;
}
.inst-01{
    font-family: 'Poppins-regular';
    font-size: 20px;
    color: #A80E0E;
}
.inst-01::after{
    content: '';
    width: 50px;
    height: 3px;
    background-color: #FFAA00;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    margin-top: 18px;
    margin-bottom: 55px;
}
.inst-img{
    max-width: 100px;
    width: 100%;
    
}
.inst-img-01{
    margin-right: 26px;
}
.for-inst-01{
    margin-top: 30px;
}
.spiner{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-top: 110px;
    border-top: 1px solid #686868;
}
.footer-title{
    font-family: 'Poppins-regular';
    font-size: 20px;
    color: #686868;
    margin-top: 55px;
    font-weight: lighter;
}
/* footer-section end  */